<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @commerce.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @commerce.user_id %>
</p>

<%= link_to 'Edit', edit_commerce_path(@commerce) %> |
<%= link_to 'Back', commerces_path %>
