
<div class="container-fluid">
  <div class="row">
    <div class="panel-body">
      <%= form_for(item) do |f| %>
        <% if item.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

            <ul>
            <% item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group row">
          <div class="col-xs-2">
            <%= f.label :code, "Código" %>
          </div>
          <div class="col-xs-10">
            <%= f.text_field :code, autofocus: true, placeholder: "Código", class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-2">
            <%= f.label :description, "Descripción" %>
          </div>
          <div class="col-xs-10">
            <%= f.text_field :description, placeholder: "Descripción", class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-2">
            <%= f.label :brand_id, "Marca" %>
          </div>
          <div class="col-xs-10">
            <%= f.text_field :brand, placeholder: "Marca", class: "form-control" %>
          </div>
          <div style="display: none">
            <%= f.text_field :brand_id %>
          </div>
          <div style="display: none">
            <%= f.text_field :brand_name %>
          </div>
        </div>


        <div class="form-group row">
          <div class="col-xs-2">
            <%= f.label :unit_id, "Unidad" %>
          </div>
          <div class="col-xs-10">
            <%= f.collection_select :unit_id, @units, :id, :name, 
                  {selected: @item.unit_id, include_blank: 'Seleccione Unidad'},
                  {class: "form-control"} %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-2">
            <%= f.label :stock, "Stock" %>
          </div>
          <div class="col-xs-10">
            <%= f.number_field :stock, placeholder: "Stock", class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-2">
            <%= f.label :min_stock, "Stock mínimo" %>
          </div>
          <div class="col-xs-10">
            <%= f.number_field :min_stock, placeholder: "Stock Mínimo", class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-2">
            <%= f.label :category_id, "Categoría" %>
          </div>
          <div class="col-xs-10">
            <%= f.collection_select :category_id, @categories, :id, :name,
                  {selected: @item.category_id, include_blank: 'Seleccione Categoría'}, 
                  {class: "form-control"} %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-2">
            <%= f.label :price, "Precio" %>
          </div>
          <div class="col-xs-10">
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <%= f.text_field :price, placeholder: "Precio", class: "form-control" %>
            </div>
          </div>
        </div>

        <%= f.submit "Aceptar", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>

