<div class="panel panel-default">
  <div class="panel-heading">Marcas</div>
  <div class="panel-body">
    <p><%= link_to 'Nueva Marca', new_brand_path %></p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Fecha de Alta</th>
        <th>Fecha de Modificación</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @brands.each do |brand| %>
        <tr>
          <td><%= brand.name %></td>
          <td><%= brand.created_at %></td>
          <td><%= brand.updated_at %></td>
          <td><%= link_to 'Mostrar', brand %></td>
          <td><%= link_to 'Editar', edit_brand_path(brand) %></td>
          <td><%= link_to 'Eliminar', brand, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>