
<%= form_for :sale_details do |f| %>
  <div class="nested-fields row">
    <div class="col-xs-5">
      <div class="form-group">
          <%= f.label :item_id, class: "sr-only" %>
          <%= f.text_field :item, autofocus: true, placeholder: "Artículo", class: "form-control" %>
          <%= f.hidden_field :item_id %>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="form-group">
          <%= f.label :qty, class: "sr-only" %>
          <%= f.text_field :qty, placeholder: "Cant.", class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="form-group">
          <%= f.label :price, class: "sr-only" %>
          <%= f.text_field :price, placeholder: "Precio", class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="form-group">
          <%= f.label :subtotal, class: "sr-only" %>
          <%= f.text_field :subtotal, placeholder: "0", class: "form-control", disabled: true %>
      </div>
    </div>
  </div>
  <%= f.submit "Aceptar", class: "btn btn-success", "data-dismiss": "modal" %>
<% end %>