<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @sale.number %>
</p>

<p>
  <strong>Date:</strong>
  <%= @sale.date %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
