<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
  	<% if user_signed_in? %>
  		<%=	link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
    <% end %>

    <% if notice.present? %>
    	<div class="alert alert-info" role="alert"><%= notice %></div>
    <% end %>

    <% if alert.present? %>
    	<div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
