<% @sale.sale_details.each do |detail| %>
	<tr>
		<td><%= detail.number %></td>
		<td><%= detail.item.description %></td>
		<td class="text-right"><%= detail.qty %></td>
		<td class="text-right"><%= number_to_currency(detail.price) %></td>
		<td class="text-right"><%= number_to_currency(detail.subtotal) %></td>
	</tr>
<% end %>