<% @sale.sale_details.each do |detail| %>
	<tr>
		<td><%= detail.number %></td>
		<td><%= detail.item.item_description %></td>
		<td class="text-right"><%= detail.qty %></td>
		<td class="text-right"><%= number_to_currency(detail.price) %></td>
		<td class="text-right"><%= number_to_currency(detail.subtotal) %></td>
		<% if show_actions %>
			<td><%= link_to "Eliminar", sale_sale_detail_path(detail.sale.id, detail.id), method: :delete, remote: true %> </td>
		<% end %>
	</tr>
<% end %>